{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'stockdash/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Stockdash</title>
</head>
<body>
<h2>Welcome to your Stock Dashboard, Radhika! </h2>

<!-- <p>{{stockobj.symbol}}{{stockobj.return_percentage}}{{stockobj.timestamp_updated}}</p> -->
<table id="header-table">
	<tr>
		<td><a class="btn btn-primary" href="{% url 'index' %}">All</a></td>
		<td><a class="btn btn-primary" href="{% url 'top_performers' 'Technology' %}">Technology</a></td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Financials' %}">Financials</a></td><td>
	</tr>
</table>
<table id="content-table">
	<tr>
		<th>SECTOR</th><th>INDUSTRY</th><th>SYMBOL</th><th>NAME</th><th>RETURN</th><th>MARKET CAP</th>
	</tr>
	{% for stockobj in oneday_objects %}
	<tr>
		<td>{{stockobj.sector}}</td><td>{{stockobj.industry}}</td><td>{{stockobj.symbol}}</td><td>{{stockobj.shortname}}</td><td>{{stockobj.return_percentage}}%</td><td>{{stockobj.marketcap}}B</td>
	</tr>
	{% endfor%}
</table>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>