{% extends 'stockdash/base.html' %}
{% load mathfilters %}

{% block content %}
<h4><span id="todaydate" class="text-muted">last updated {{gainers.0.date_traded}}</span></h4>


<table id="header-table">
	<tr>
		<td><a class="btn btn-primary" href="{% url 'stock_screener' %}">Screener</a></td>
		<td><a class="btn btn-primary" href="{% url 'index' %}">All</a></td>
		<td><a class="btn btn-primary" href="{% url 'top_performers' 'Technology' %}">Technology</a></td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Financial_Services' %}">Financials</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Consumer_Cyclical' %}">Consumer_Cyclical</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Utilities' %}">Utilities</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Industrials' %}">Industrials</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Healthcare' %}">Healthcare</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Communication_Services' %}">Communication_Services</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Financial' %}">Financial</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Consumer_Defensive' %}">Consumer_Defensive</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Basic_Materials' %}">Basic_Materials</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Unknown' %}">Unknown</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Energy' %}">Energy</a></td><td>
		<td><a class="btn btn-primary"  href="{% url 'top_performers' 'Real_Estate' %}">Real_Estate</a></td><td>
		<td><a id="mybutton" class="btn btn-primary">Somebutton</a></td><td>


	</tr>
</table>
<br>
<table id="content-table">
	<tr>
		<th>SECTOR</th><th>INDUSTRY</th><th>SYMBOL</th><th>NAME</th><th>LAST PRICE</th><th>MARKET CAP</th><th>RETURN 1 DAY</th><th>RETURN 7 DAY</th><th>RETURN 14 DAY</th><th>RETURN 30 DAY</th>
	</tr>
	{% for stockobj in gainers %}
	<tr>
		<td>{{stockobj.sector}}</td><td>{{stockobj.industry}}</td><td><a href="{% url 'stockpage' stockobj.symbol %}">{{stockobj.symbol}}</a></td><td>{{stockobj.symbolname}}</td>
		<td>${{stockobj.latest_close}}</td>
		<td>${{stockobj.marketcap}} B</td>
		<td>{{stockobj.return_1_day}}%</td>
		<td>{{stockobj.return_7_day}}%</td>
		<td>{{stockobj.return_14_day}}%</td>
		<td>{{stockobj.return_30_day}}%</td>
	</tr>
	{% endfor%}
</table>
<br><br>
<table id="content-table">
	<tr>
		<th>SECTOR</th><th>INDUSTRY</th><th>SYMBOL</th><th>NAME</th><th>LAST PRICE</th><th>MARKET CAP</th><th>RETURN 1 DAY</th><th>RETURN 7 DAY</th><th>RETURN 14 DAY</th><th>RETURN 30 DAY</th>
	</tr>
	{% for stockobj in losers %}
	<tr>
		<td>{{stockobj.sector}}</td><td>{{stockobj.industry}}</td><td><a href="{% url 'stockpage' stockobj.symbol %}">{{stockobj.symbol}}</a></td><td>{{stockobj.symbolname}}</td>
		<td>${{stockobj.latest_close}}</td>
		<td>${{stockobj.marketcap}} B</td>
		<td>{{stockobj.return_1_day}}%</td>
		<td>{{stockobj.return_7_day}}%</td>
		<td>{{stockobj.return_14_day}}%</td>
		<td>{{stockobj.return_30_day}}%</td>
	</tr>
	{% endfor%}
</table>

<div id="div1">waht</div>
{% endblock content %}
   